---
layout: default
---

<h1>Upcoming training programs</h1>
{% for training in site.data.upcoming_trainings %}
<div class="{{section.class}}">
  <h2>{{training.training}}<h2>
  {% for section in training.sections %}
    <h3>{{section.section}}</h3>
    {% for subsection in section.subsections %}
      {% if subsection.title != "" %}
        <div class="indent">
          <h4>{{subsection.title}}</h4>
      {% else %}
        <div>
      {% endif %}
        {% for paragraph in subsection.paragraphs %}
          <p>{{paragraph}}</p>
        {% endfor %}
        </div>
    {% endfor %}
  {% endfor %}
</div>
{% endfor %}

<hr>

<h1>Past training programs</h1>
{% for training in site.data.past_trainings %}
<div class="{{section.class}}">
  <h2>{{training.training}}<h2>
  {% for section in training.sections %}
    <h3>{{section.section}}</h3>
    {% for subsection in section.subsections %}
      {% if subsection.title != "" %}
        <div class="indent">
          <h4>{{subsection.title}}</h4>
      {% else %}
        <div>
      {% endif %}
        {% for paragraph in subsection.paragraphs %}
          <p>{{paragraph}}</p>
        {% endfor %}
        </div>
    {% endfor %}
  {% endfor %}
</div>
{% endfor %}
