{% assign count = 1 %}
<div class="container">
  <div class="team">
    <div class="row">
      {% for collaborator in site.data.collaborators %}

          <div class="col-sm-4">
            <a href="{{collaborator.link}}" target="_blank">
              <img class="supporter-image" src="{{site.baseurl}}/assets/images/collaborators/{{collaborator.logo}}" alt="{{collaborator.name}} logo">
            </a>
          </div>
          {% capture mod %}{{ count | modulo:3 }}{% endcapture %}
          {% if mod == '0' %}
            <div class="clearfix"></div>
          {% endif %}
          {% assign count = count | plus:1 %}

      {% endfor %}
    </div>
  </div>
</div>
