<footer>
  <div class="footer">

    <div class="footer-links">
      <span><a href="mailto:{{site.contact}}">Contact Us</a></span> &nbsp;&nbsp;|&nbsp;&nbsp;
      <span><a href="{{site.registration_link}}" target="_blank">Mailing List</a></span>
    </div>

<!--
    <div class="footer-image-holder">
      <img class="footer-image" src="{{site.baseurl}}/assets/images/threeschools.png">
    </div>
 -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p class="copyright-text">Copyright © 2018 Coleridge Initiative - All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
