<h2>{{site.data.mission.title}}</h2>
  <div class="mission">
    <p>{{site.data.mission.statement}}</p>
    <div class="pillars">
      <div class="pillar-wrapper">
      {% for pillar in site.data.mission.pillars %}
      <div class="pillar">
        <h3>{{pillar.title}}</h3>
        <p>{{pillar.description}}<p>
        <ul>
          {% for bullet in pillar.bullets %}
            <li>{{bullet}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>