<!-- Responsive Navigation Bar (made with Bootstrap) -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/"><img alt="The Coleridge Initiative" src="{{site.baseurl}}/assets/images/ColeridgeInitiativeLogo_white.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- Dropdowns to be implemented in later release -->
        <!--
        <li class="dropdown">
          <a href="{{site.baseurl}}/knowledge" class="taphover">Knowledge <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/training">Training</a></li>
            <li><a href="{{site.baseurl}}/research">Research</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{site.baseurl}}/computing" class="taphover">Computing <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/adrf">ADRF</a></li>
            <li><a href="{{site.baseurl}}/cdf">CDF</a></li>
          </ul>
        </li>-->

        <li><a href="{{site.baseurl}}/training" class="orange {% if page.url == '/training.html' %}active{% endif %}">Training</a></li>
        <li><a href="{{site.baseurl}}/computing" class="green {% if page.url == '/computing.html' %}active{% endif %}">Computing</a></li>
    
        <!--
        <li><a href="{{site.baseurl}}/network" class="{% if page.url == '/network' %}active{% endif %}">Network</a></li>
        <li><a href="{{site.baseurl}}/about" class="{% if page.url == '/about' %}active{% endif %}">About Us</a></li>

        <li><a href="{{site.baseurl}}/richcontextcompetition" class="green {% if page.url == '/richcontextcompetition.html' %}active{% endif %}"  alt="Whitepapers, keynotes, and upcoming events">Rich Context</a></li>

        -->

        <li class="dropdown" id="rc">
          <a href="{{site.baseurl}}/richcontext" class="taphover lightblue {% if page.url == '/richcontext.html' %}active{% endif %}">Rich Context <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id="rc"><a href="{{site.baseurl}}/richcontext">Overview</a></li>
            <li id="rc"><a href="{{site.baseurl}}/pubsubmission">Publication Submission</a></li>
            <li id="rc"><a href="{{site.baseurl}}/news">News</a></li>
          </ul>
        </li>


        <li><a href="{{site.baseurl}}/resources" class="purple {% if page.url == '/resources.html' %}active{% endif %}"  alt="Whitepapers, keynotes, and upcoming events">Resources</a></li>
        <li><a href="{{site.baseurl}}/events" class="blue" alt="Events">Events</a></li>
        <li><a href="{{site.baseurl}}/about" class="orange {% if page.url == '/about.html' %}active{% endif %}">About</a></li>
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li id="collab-text"><span>A collaboration</span><br><span>presented by</span></li>
        <li class="univ-nav-logo"><a href="http://dsapp.uchicago.edu" target="_blank"><img id="uchicago-nav" src="{{site.baseurl}}/assets/images/UChicago_logo.png"></a></li>
        <li class="univ-nav-logo"><a href="http://cusp.nyu.edu" target="_blank"><img id="nyu-nav" src="{{site.baseurl}}/assets/images/NYU_logo.png"></a></li>
        <li class="univ-nav-logo"><a href="https://jointprogram.umd.edu/" target="_blank"><img id="umd-nav" src="{{site.baseurl}}/assets/images/UMD_logo.png"></a></li>
      </ul>
    -->
    </div>
  </div>
</nav>
