/* Nav Start */
/* Nav End */


/* Masthead Start */
.mast-bg {
  background-color: #182151;
  padding: 40px 0;
}
.mast-outer {
  border-style: solid;
  border-width: 2px;
  border-color: #F4F4F4;
  padding: 20px;
  width: 66%;
  margin: 0 auto;
}

.mast-inner {
  margin: 0;
  background-color: #F4F4F4;
  padding: 16px;
}

.mast-inner * {
  margin: 0;
  text-align: center;
}

@media (max-width:768px) {
  .mast-title {font-size:24px}
}
/*
.mast-inner h1 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 63px;
  line-height: 80px;
}

.mast-inner p {
  padding-bottom: 8px;
}
*/
/* Masthead End */

/* Mission Start */
.mission {
  margin-bottom: 20px;
}

.mission h2 {
  text-align: center;
}

.mission > p {
  text-align: center;
  font-size: 16px;
}

.pillar h4 {
  text-align: center;
  padding: 10px 40px;
  border: 1px solid #182151;
}
/* Mission End */


/* Team Start */
.team {
  margin-top: 16px;
  background-color: #F4F4F4;
}

.positions {
  list-style-type: none;
  padding: 0;
}

.positions li {
  margin-bottom: 4px;
}

.team-member h4 {
  margin-bottom: 4px;
}

.team-member p {
  margin-bottom: 16px;
}

.team-member-image {
  max-width: 150px;
}
/* Team End */


/* Footer Start */
.footer {
  background-color: #000;
  color: #F4F4F4;
  padding: 20px;
}

footer p {
  margin: 0;
}
/* Footer End */


