// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

/* General Styling Start */
body, html {
    height: 100%;
}

body {
  font-family: "Avenir", sans-serif;
}

ol {
  margin-left: 40px;
  padding: 0px 52px 0px 30px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

.foreground {
  position: relative;
  z-index: 2;
}

.highlight {
  background-color: yellow;
}
/* General Styling End */

/* Nav Styling Start */
.navbar-default {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: lighter;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border: none;
}

.navbar-default .navbar-nav li, .navbar-default .navbar-nav li a {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #000000;
}

.navbar-default .navbar-nav > li > .orange:hover, .navbar-default .navbar-nav > li > .orange:focus {
    background-color: #000000 !important;
    color: rgb(242, 92, 13); !important;
}

.navbar-default .navbar-nav li .orange.active {
  color: rgb(242, 92, 13);
  font-weight: 500;
}

.navbar-default .navbar-nav > li > .green:hover, .navbar-default .navbar-nav > li > .green:focus {
    background-color: #000000 !important;
    color: #3B9743; !important;
}

.navbar-default .navbar-nav li .green.active {
  color: #3B9743;
  font-weight: 500;
}

.navbar-default .navbar-nav > li > .red:hover, .navbar-default .navbar-nav > li > .red:focus {
    background-color: #000000 !important;
    color: #B42A2A; !important;
}

.navbar-default .navbar-nav li .red.active {
  color: #B42A2A;
  font-weight: 500;
}

/*
.navbar-default .navbar-nav > li > .blue:hover, .navbar-default .navbar-nav > li > .blue:focus {
    background-color: #000000 !important;
    color: #313BCF; !important;
}

.navbar-default .navbar-nav li .blue.active {
  color: #313BCF;
  font-weight: 500;
}
*/

.navbar-default .navbar-nav > li > .purple:hover, .navbar-default .navbar-nav > li > .purple:focus {
    background-color: #000000 !important;
    color: #855593; !important;
}

.navbar-default .navbar-nav li .purple.active {
  color: #855593;
  font-weight: 500;
}

.navbar-default .navbar-nav > li > .blue:focus {
    background-color: #000000 !important;
    color: #FFFFFF; !important;
}

.navbar-default .navbar-nav > li > .blue:hover {
    background-color: #000000 !important;
    color: #313BCF; !important;
}



#collab-text {
  box-sizing: border-box;
  display: block;
  text-align: right;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  padding: 12px;
}

#uchicago-nav, #nyu-nav {
  height: 27px;
  background-color: #FFFFFF;
}

#umd-nav {
  height: 27px;
  padding: 4px;
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav .univ-nav-logo a {
  padding-left: 0px;
  padding-right: 10px;
  background-color: #000000;
}

.navbar-default .navbar-nav .univ-nav-logo a:hover {
  background-color: #000000;
}

.taphover {
  color: #FFFFFF;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-brand img {
  height: 50px;
  padding-top: 0px;
}

.dropdown-menu {
  background-color: #000000;
}
/* Nav Styling End */


/* Parallax Backgrounds Start */
.masthead, .purple-bg, .orange-bg, .green-bg, .red-bg, .blue-bg {
  /* Full height */
  height: 624px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-bg, .orange-bg, .green-bg, .red-bg, .blue-bg {
  /* Full height */
  height: auto;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 992px) {
  .masthead {
    height: 624px;
    background-attachment: scroll;
  }

  .purple-bg, .orange-bg, .green-bg, .red-bg, .blue-bg {
    height: auto;
    background-attachment: scroll;
  }
}

.masthead {
  background-image: url('../images/Event-Background.jpg');
}

.purple-bg {
  background-image: url('../images/purple-bg.png');
}

.orange-bg {
  background-image: url('../images/orange-bg.png');
}

.green-bg {
  background-image: url('../images/green-bg.png');
}

.red-bg {
  background-image: url('../images/red-bg.png');
}

.blue-bg {
  background-image: url('../images/blue-bg.png');
}

.footer {
  background-image: url('../images/Event-Background-Footer.jpg')
}
/* Parallax Backgrounds End */


/* Main Logo Start */
.ci-text-logo-image-holder {
  padding-top: 140px;
  text-align: center;
}

.ci-text-logo-image-holder img {
  width: 62.5%;
}
/* Main Logo End */

/* Content Sections Start */
.white-band {
  background-color: rgba(255, 255, 255, 0.9);
}

.white-band-general {
  height: 46.25%;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Mission Section Start */
.mission {
  margin: 0;
}

.mission.slogan {
  padding: 36px 60px 0px 60px;
}

.mission.coleridge {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bolder;
  color: #000000;
}

.mission.building {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.mission.building-masthead {
  font-size: 24px;
  font-weight: 100;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}

.mission.quote {
  text-align:right;
  padding: 48px 60px 60px 60px;
}

.mission.data {
  display: block;
  font-size: 28px;
  color: #000000;
}

.mission.mariner {
  display: block;
  font-style: italic;
  font-size: 19px;
  color: #666666;
}

.mission.data-masthead {
  display: block;
  margin-top: 100px;
  margin-right: 20px;
  font-size: 22px;
  font-weight: 200;
  color: #FFFFFF;
  text-align: right;
}

.mission.mariner-masthead {
  display: block;
  margin-right: 20px;
  font-style: italic;
  font-size: 18px;
  font-weight: 200;
  color: #FAFAFA;
  text-align: right;
}

.coleridge-logo-bg {
  position: relative;
  float: right;
  z-index: -1;
  height: 240px;
  width: 240px;
  margin: -260px 40px 0px 0px;
}

.program-dates-div {
  margin-left: 60px;
}

.upcoming-label {
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 200;
  color: #000000;
}

.program-quarter {
  font-size: 18px;
  font-weight: 700;
  color: rgb(244, 107, 35);
  margin-bottom: -4px;
}

.program-city {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
}

.program-details-link {
  margin-top: 6px;
  display: inline-block;
  color: #FFFFFF;
  background-color: rgb(244, 107, 35);
  font-weight: 500;
  padding: 4px 12px 4px 12px;
  border: 1px solid #000000;
  text-align: center;
  min-width: 214px;
}

.inactive-program {
  background-color: #666666;
}

.program-details-link p {
  margin-bottom: 0;
}

.book-thumbnail {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.book-description {
  margin-top: 18px;
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.centering-div {
  text-align: center;
}

.book-reviews-link {
  margin-top: 6px;
  margin-bottom: 8px;
  display: inline-block;
  color: #FFFFFF;
  background-color: rgb(244, 107, 35);
  font-size: 18px;
  font-weight: 500;
  padding: 4px 12px 4px 12px;
  border: 1px solid #000000;
  text-align: center;
}

.book-poster {
  margin-top: 80px;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* Special Nav Collapse Fix */
@media only screen and (max-width: 1010px) {
  #collab-text { display: none; }
}

@media only screen and (max-width: 888px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/* Special Nav Collapse Fix */

@media only screen and (max-width: 1198px) {
  .program-details-link {
    margin-top: -2px;
    margin-bottom: 12px;
    font-weight: 500;
    padding: 4px 12px 4px 12px;
    min-width: 214px;
  }
}

@media only screen and (max-width: 992px) {
  .mission.slogan { padding: 24px 24px 0px 24px; }
  .mission.coleridge { font-size: 20px; }
  .mission.building { font-size: 18px; font-weight: 400; }
  .mission.building-masthead { font-size: 18px; }
  .mission.quote { text-align: left; padding: 24px 24px 24px 24px; }
  .mission.data { font-size: 22px; }
  .mission.mariner { font-size: 16px; }
  .mission.data-masthead { font-size: 18px; }
  .mission.mariner-masthead { font-size: 14px; }
  .coleridge-logo-bg { height: 140px; width: 140px; margin: -160px 40px 0px 0px; }
  .program-details-link { width: 100%; }
  .book-thumbnail { max-width: 40%; margin-top: 24px; }
  .book-reviews-link { width: 100%; font-size: 18px; margin-bottom: 16px; }
}

@media only screen and (max-width: 768px) {
  #collab-text { display: block; text-align: left; }
  .mission.slogan { padding: 24px 24px 0px 24px; }
  .mission.coleridge { font-size: 20px; }
  .mission.building { font-size: 18px; font-weight: 400; }
  .mission.building-masthead { font-size: 16px; letter-spacing: 0px; }
  .mission.quote { text-align: left; padding: 24px 24px 24px 24px; }
  .mission.data { font-size: 22px; }
  .mission.mariner { font-size: 16px; }
  .mission.data-masthead { font-size: 16px; }
  .mission.mariner-masthead { font-size: 12px; }
  .coleridge-logo-bg { height: 140px; width: 140px; margin: -160px 40px 0px 0px; }
  .program-dates-div { margin-left: 0; }
  .upcoming-label { font-size: 18px; margin-top: 8px; }
  .program-city { margin-bottom: 0; }
  .program-details-link { margin-top: 0; margin-bottom: 8px; }
  .book-thumbnail { max-width: 40%; margin-top: 24px; }
  .book-reviews-link { width: 100%; font-size: 18px; margin-bottom: 16px; }
  .book-poster { max-width: 100%; }
}

@media only screen and (max-width: 576px) {
  .mission.slogan { padding: 24px 24px 0px 24px; }
  .mission.coleridge { font-size: 20px; }
  .mission.building { font-size: 18px; font-weight: 400; }
  .mission.building-masthead { font-size: 14px; }
  .mission.quote { text-align: left; padding: 24px 24px 24px 24px; }
  .mission.data { font-size: 22px; }
  .mission.mariner { font-size: 16px; }
  .mission.data-masthead { font-size: 14px; }
  .mission.mariner-masthead { font-size: 10px; }
  .coleridge-logo-bg { height: 140px; width: 140px; margin: -160px 40px 0px 0px; }
  .program-dates-div { margin-left: 0; }
  .upcoming-label { font-size: 18px; margin-top: 8px; }
  .program-city { margin-bottom: 0; }
  .program-details-link { margin-top: 0; margin-bottom: 8px; width: 100%; }
  .book-thumbnail { max-width: 60%; margin-top: 24px; }
  .book-reviews-link { width: 100%; font-size: 18px; margin-bottom: 16px; }
}

.buckets {
  text-align: center;
}

.bucket {
  padding: 24px 0px 24px 0px;
  color: #FFFFFF;
  letter-spacing: 6px;
  font-size: 28px;
  font-weight: bolder;
}

#oval {
  width: 225px;
  height: 225px;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bucket-name {
  padding-bottom: 10px;
}

.bucket-description {
  padding-top: 62px;
  width: 72%;
  color: #666666;
  letter-spacing: 0px;
  line-height: 1.3;
  font-size: 21px;
  font-weight: 500;
}

.down-arrow {
  margin-top: 20px;
  width: 40px;
  height: 24px;
}

@media only screen and (max-width: 992px) {
  .bucket { font-size: 20px; }
}

/* Mission Section End */

/* Knowledge Section Start */
.knowledge-active {
  color: rgba(242, 92, 13, 1.0);
}

.knowledge {
  margin: 0;
}

.knowledge.header {
  position: relative;
  padding: 24px 0px 24px 36px;
}

.knowledge.label {
  position: absolute;
  padding: 0;
  text-transform: uppercase;
  font-size: 58px;
  font-weight: 200;
  color: #666666;
  letter-spacing: 4px;
}

.knowledge.circle {
  margin: 40px 0px 0px 70px;
  width: 226px;
  height: 226px;
}

.knowledge.programs {
  text-align: center;
}

.knowledge.research {
  text-align: center;
  margin-left: 24px;
}

.knowledge.title {
  padding: 36px 0px 20px 0px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: #666666;
}

.knowledge.description {
  margin: 0px 0px 0px 24px;
  font-size: 20px;
  width: 218px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  transform:scale(1.1,1.1); /* W3C */
  -webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
  -moz-transform:scale(1.05,1.1); /* Firefox */
  -ms-transform:scale(1.1,1.1); /* IE 9 */
  -o-transform:scale(1.1,1.1); /* Opera */
}

.training.description {
  padding-top: 84px;
  font-size: 32px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  line-height: 1;
}

.participant-quote {
  color: #FFFFFF;
  font-size: 38px;
  font-style: italic;
  font-weight: 600;
}

.coleridge-logo-bg-large {
  position: relative;
  float: right;
  z-index: -1;
  height: 630px;
  width: 630px;
  margin: -530px -300px 0px 0px;
  opacity: 0.5;
}

.left-quote-mark {
  display: inline;
  position: relative;
  float: left;
  font-family: "Arial Rounded MT Bold", "Arial", serif;
  font-size: 600px;
  color: #FFFFFF;
  z-index: -1;
  margin: 30px 0px 0px 20px;
  opacity: 0.5;
  line-height: 0;
}

.right-quote-mark {
  display: inline;
  position: relative;
  float: right;
  font-family: "Arial Rounded MT Bold", "Arial", serif;
  font-size: 600px;
  color: #FFFFFF;
  z-index: -1;
  margin: 100px 0px 0px 0px;
  opacity: 0.5;
  line-height: 0;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.left-arrow {
  margin-top: 65px;
  width: 24px;
  height: 40px;
}

.right-arrow {
  margin-top: 65px;
  width: 24px;
  height: 40px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  opacity: 1;
}

.quote-box {
  padding: 100px 0px 0px 5%;
  height: 240px;
  width: 100%;
}

.quote-interior {
  padding: 5% 0;
}

.quote-thumbnail {
  float: left;
  display: inline;
  width: 214px;
  height: 277px;
}

#quote-carousel .carousel-inner {
}

#quote-carousel .carousel-inner .item {
  padding: 0px 120px 0px 120px;
}

#quote-carousel .left.carousel-control, #quote-carousel .right.carousel-control {
  margin-top: 80px
}

#quote-1 { font-size: 38px; }
#quote-2 { font-size: 24px; }
#quote-3 { font-size: 28px; }
#quote-4 { font-size: 38px; }
#quote-5 { font-size: 24px; }
#quote-6 { font-size: 24px; }

@media only screen and (max-width: 992px) {
  .knowledge.header { text-align: center; padding: 36px 18px 0px 18px; }
  .knowledge.label { position: relative; font-size: 28px; }
  .knowledge.circle { margin: 0px 0px 24px 0px; }
  .knowledge.programs { text-align: center; padding: 0px 18px 0px 18px; }
  .knowledge.research { text-align: center; margin: 0; padding: 0px 18px 36px 18px; }
  .knowledge.title { margin: 0; display: block;}
  .knowledge.description { margin: 0; display: inline-block; }
  .training.description { padding: 60px 0px 24px 0px; font-size: 32px; }
  .coleridge-logo-bg-large { display: none; }
  .left-quote-mark { display: none; }
  .right-quote-mark { display: none; }
  .left-arrow { margin-top: 30px; }
  .right-arrow { margin-top: 30px; }

  .quote-box { padding: 80px 10% 0px 10%; height: 260px; width: 100%; text-align: center; }
  #quote-carousel .carousel-inner .item { padding: 0px 0px 0px 0px; }
  #quote-carousel .left.carousel-control, #quote-carousel .right.carousel-control { margin-top: 80px; }

  #quote-1 { font-size: 30px; }
  #quote-2 { font-size: 22px; }
  #quote-3 { font-size: 24px; }
  #quote-4 { font-size: 30px; }
  #quote-5 { font-size: 20px; }
  #quote-6 { font-size: 20px; }
}

@media only screen and (max-width: 768px) {
  .knowledge.header { text-align: center; padding: 36px 18px 0px 18px; }
  .knowledge.label { position: relative; font-size: 24px; }
  .knowledge.circle { margin: 0px 0px 0px 0px; }
  .knowledge.programs { text-align: center; padding: 0px 18px 0px 18px; }
  .knowledge.research { text-align: center; margin: 0; padding: 0px 18px 36px 18px; }
  .knowledge.title { margin: 0; display: block;}
  .knowledge.description { margin: 0; display: inline-block; }
  .training.description { padding: 24px 0px 24px 0px; font-size: 24px; }
  .coleridge-logo-bg-large { display: none; }
  .left-quote-mark { display: none; }
  .right-quote-mark { display: none; }
  .left-arrow { margin-top: 30px; }
  .right-arrow { margin-top: 30px; }

  .quote-box { padding: 70px 10% 0px 10%; height: 280px; width: 100%; text-align: center; }
  #quote-carousel .carousel-inner .item { padding: 0px 0px 0px 0px; }
  #quote-carousel .left.carousel-control, #quote-carousel .right.carousel-control { margin-top: 80px; }

  #quote-1 { font-size: 30px; }
  #quote-2 { font-size: 22px; }
  #quote-3 { font-size: 24px; }
  #quote-4 { font-size: 30px; }
  #quote-5 { font-size: 20px; }
  #quote-6 { font-size: 20px; }
}

@media only screen and (max-width: 576px) {
  .knowledge.header { text-align: center; padding: 36px 18px 0px 18px; }
  .knowledge.label { position: relative; font-size: 24px; }
  .knowledge.circle { margin: 0px 0px 0px 0px; }
  .knowledge.programs { text-align: center; padding: 0px 18px 0px 18px; }
  .knowledge.research { text-align: center; margin: 0; padding: 0px 18px 36px 18px; }
  .knowledge.title { margin: 0; display: block;}
  .knowledge.description { margin: 0; display: inline-block; }
  .training.description { padding: 24px 0px 24px 0px; font-size: 24px; }
  .coleridge-logo-bg-large { display: none; }
  .left-quote-mark { display: none; }
  .right-quote-mark { display: none; }
  .left-arrow { margin-top: 30px; }
  .right-arrow { margin-top: 30px; }

  .quote-box { padding: 24px 9px 0px 9px; height: 260px; width: 100%; text-align: center; }
  #quote-carousel .carousel-inner .item { padding: 0px 0px 0px 0px; }
  #quote-carousel .left.carousel-control, #quote-carousel .right.carousel-control { margin-top: 180px; }

  #quote-1 { font-size: 24px; }
  #quote-2 { font-size: 16px; }
  #quote-3 { font-size: 18px; }
  #quote-4 { font-size: 24px; }
  #quote-5 { font-size: 16px; }
  #quote-6 { font-size: 16px; }
}

/* Knowledge Section End */

/* Computing Section Start */

.computing.description {
  padding-top: 84px;
  font-size: 32px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  line-height: 1;
}

.our-goal {
  padding: 60px 0px 48px 0px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .our-goal { padding: 48px 9px 48px 9px; font-size: 32px; }
  .computing.description { padding: 60px 0px 24px 0px; font-size: 32px; }
}

@media only screen and (max-width: 768px) {
  .our-goal { padding: 48px 9px 48px 9px; font-size: 28px; }
  .computing.description { padding: 24px 0px 24px 0px; font-size: 24px; }
}

@media only screen and (max-width: 576px) {
  .our-goal { padding: 48px 9px 48px 9px; font-size: 22px; }
  .computing.description { padding: 24px 0px 24px 0px; font-size: 24px; }
}
/* Computing Section End */

/* Collaborating Section Start */
.collaborating.description {
  padding-top: 84px;
  font-size: 28px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  line-height: 1;
}

.value {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 400;
}

.value-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
}

.what-we-value {
  float: right;
  padding: 40px 80px 0px 0px;
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 800;
  color: #BBBBBB;
  letter-spacing: 4px;
}

.value-box {
  padding: 100px 60px 0px 60px;
  height: 160px;
  width: 100%;
}

#value-carousel .carousel-inner {
}

#value-carousel .carousel-inner .item {
  padding: 0px 120px 0px 120px;
}

#value-carousel .left.carousel-control, #value-carousel .right.carousel-control {
  margin-top: 80px
}

@media only screen and (max-width: 992px) {
  .value-box { padding: 100px 20px 0px 20px; height: 180px; width: 100%; }
}

@media only screen and (max-width: 768px) {
  .value-box { padding: 80px 0px 0px 0px; height: 200px; width: 100%; }
  .what-we-value { padding: 12px 9px 48px 9px; font-size: 36px; }
  .collaborating.description { padding: 24px 0px 24px 0px; font-size: 24px; }
  #value-carousel .left.carousel-control, #value-carousel .right.carousel-control { margin-top: 80px; }
}

@media only screen and (max-width: 576px) {
  .value-box { padding: 48px 0px 0px 0px; height: 200px; width: 100%; }
  .value { font-size: 16px; }
  .value-title { font-size: 18px; }
  .what-we-value { padding: 0px 9px 24px 9px; font-size: 28px; }
  .collaborating.description { padding: 24px 0px 24px 0px; font-size: 24px; }
  #value-carousel .carousel-inner .item { padding: 0px 0px 0px 0px; }
  #value-carousel .left.carousel-control, #value-carousel .right.carousel-control { margin-top: 100px; }
}
/* Collaborating Section End */

/* Team Section Start */
.team.description {
  padding-top: 72px;
  font-size: 28px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  line-height: 1;
}

.director-bubble-set {
  position: relative;
  width: 620px;
  height: 420px;
}

.directors-circle {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: 1;
  width: 220px;
  height: 220px;
  text-align: center;
}

#directors-oval {
  position: absolute;
  top: 0px;
  left: 190px;
  z-index: 0;
  width: 420px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.directors.label {
  text-transform: uppercase;
  font-size: 58px;
  font-weight: 200;
  color: #FFFFFF;
  letter-spacing: 4px;
}

.director-name {
  padding-top: 118px;
  padding-left: 44px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: bold;
}

.director-affiliation {
  padding-top: 16px;
  padding-left: 44px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

.director-affiliation p {
  margin: 0;
  padding-top: 0;
  line-height: 1.1;
}

#directors-carousel .carousel-inner {
  margin-top: -80px
}

#directors-carousel .carousel-inner .item {
  padding-left: 38%;
}

#directors-carousel .left.carousel-control, #directors-carousel .right.carousel-control {
  margin-top: 120px
}

@media only screen and (max-width: 1200px) {
  .director-bubble-set { width: 620px; height: 360px; }
  .directors-circle { top: 100px; left: 0px; width: 180px; height: 180px; }
  #directors-oval { padding-right: 4px; top: 0px; left: 140px; width: 360px; height: 360px; }
  .director-name { padding: 108px 0px 0px 48px; font-size: 20px; letter-spacing: 0px; }
  .director-affiliation { padding: 16px 0px 0px 48px; font-size: 16px; font-weight: 300;}
  #directors-carousel .carousel-inner .item { padding-left: 35%; }
}

@media only screen and (max-width: 992px) {
  .director-bubble-set { width: 500px; height: 320px; }
  .directors-circle { top: 110px; left: 40px; width: 140px; height: 140px; }
  #directors-oval { padding-right: 4px; top: 40px; left: 140px; width: 280px; height: 280px; }
  .director-name { padding: 60px 0px 0px 48px; font-size: 20px; letter-spacing: 0px; }
  .director-affiliation { padding: 0px 0px 0px 48px; font-size: 14px; font-weight: 300;}
  #directors-carousel .carousel-inner .item { padding-left: 35%; }
}

@media only screen and (max-width: 768px) {
  .team.description { padding: 24px 9px 36px 9px; font-size: 22px; }
  .director-bubble-set { width: 500px; height: 320px; }
  .directors-circle { top: 110px; left: 40px; width: 140px; height: 140px; }
  #directors-oval { padding-right: 4px; top: 40px; left: 140px; width: 280px; height: 280px; }
  .director-name { padding: 60px 0px 0px 48px; font-size: 20px; letter-spacing: 0px; }
  .director-affiliation { padding: 0px 0px 0px 48px; font-size: 14px; font-weight: 300;}
  #directors-carousel .carousel-inner .item { padding-left: 22%; }
}

@media only screen and (max-width: 576px) {
  .team.description { padding: 24px 9px 36px 9px; font-size: 22px; }
  .director-bubble-set { width: 320px; height: 210px; }
  #directors-carousel .carousel-inner .item { padding-left: 15%; }
  .directors.label { font-size: 32px; }
  .directors-circle { top: 30px; left: 0px; width: 100px; height: 100px; }
  #directors-oval { top: 0px; left: 80px; width: 170px; height: 170px; }
  .director-name { padding: 36px 0px 0px 24px; font-size: 14px; letter-spacing: 0px; }
  .director-affiliation { padding: 0px 0px 0px 24px; font-size: 8px; font-weight: 300;}
  .director-affiliation p {  }
  #directors-carousel .carousel-inner { margin-top: 0px }}
/* Team Section Start */
/* Content Sections End */

/* Footer Styling Start */
.footer-image-holder {
  padding: 30px 0px 30px 0px;
  text-align: center;
}

.footer-image {
  height: auto;
  width: 80%;
}

.copyright-text {
  margin: 0;
  color: #FFFFFF;
  padding: 20px 0px 50px 80px;
  font-size: 18px;
}

.footer-spacer {
  padding-top: 48px;
}

.footer-links {
  margin: 0;
  color: #FFFFFF;
  padding: 30px 0px 0px 0px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.footer-links a:link, .footer-links a:visited, .footer-links a:hover, .footer-links a:active {
  text-decoration: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 1024px) {
  .footer-image-holder { padding: 24px 0px 24px 0px; }
  .footer-image { height: auto; width: 100%; }
  .copyright-text { padding: 10px 10px 20px 10px; font-size: 14px; }
}
/* Footer Styling End */

.jumptarget::before {
  content:"";
  display:block;
  height:70px; /* fixed header height*/
  margin:-70px 0 0; /* negative fixed header height */
}

/*************************************/
/* Training Page */
.training-bg-top, .computing-bg-top, .connecting-bg-top, .resources-bg-top, .about-bg-top, .workshop-bg-top {
  height: 100%;
  background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;
}

.training-bg-mid {
  height: auto;
  background-attachment: scroll; background-position: center; background-size: cover;
}

.computing-bg-mid {
  height: 440px;
  background-attachment: scroll; background-position: center; background-size: cover;
}

.resources-bg-mid {
  height: 180px;
  background-attachment: scroll; background-position: center; background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 1024px) {
  .training-bg-top, .computing-bg-top, .connecting-bg-top, .resources-bg-top, .about-bg-top, .workshop-bg-top { height: auto; background-attachment: scroll; }
  .training-bg-mid  { height: auto; }
  .computing-bg-mid  { height: auto; }
  .resources-bg-mid  { height: auto; }
}

.training-bg-top {
  background-image: url('../images/training-bg-top.png');
}

.computing-bg-top {
  background-image: url('../images/computing-bg-top.png');
}

.connecting-bg-top {
  background-image: url('../images/connecting-bg-top.png');
}

.resources-bg-top {
  background-image: url('../images/resources-bg-top.png');
}

.workshop-bg-top {
  background-image: url('../images/workshop-bg-top.png');
}

.about-bg-top {
  background-color: #222;
  /*background-image: url('../images/training-bg-top.png');*/
}

.training-bg-mid {
  /*background-image: url('../images/training-bg-mid.png');*/
  background-color: #222;
}

.computing-bg-mid {
  background-image: url('../images/computing-bg-mid.png');
}

.resources-bg-mid {
  background-image: url('../images/resources-bg-mid.png');
}

.page-title {
  padding: 160px 0px 0px 80px;
  font-size: 72px;
  letter-spacing: 4px;
  font-weight: 200;
  color: #FFFFFF;
}

.page-description {
  padding: 72px 48px 36px 80px;
  font-size: 50px;
  color: #FFFFFF;
  line-height: 1.15;
}

.orange {
  color: rgba(242, 92, 13, 1.0);
}

.affiliated-program {
  margin-left: 14px;
  color: #222;
  /*background-color: #eee;
  border: 1px solid black;*/
  padding: 16px;
}

.ap-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.ap-text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

.ap-link {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.section-title {
  padding: 30px 0px 0px 30px;
  font-size: 32px;
  font-weight: 400;
  color: rgba(242, 92, 13, 1.0);
  letter-spacing: -1px;
}

.section-description {
  padding: 0px 52px 0px 30px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

.program-feedback {
  padding: 0px 60px 0px 60px;
  margin: 20px 0px 10px 0px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
  color: #444;
}

.curriculum-title {
  padding: 12px 0px 0px 30px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
}

.curriculum-description {
  padding: 0px 52px 0px 30px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

.curriculum-table {
  display: inline-block;
  padding-bottom: 0px; /*formerly 36px*/
}

.table-header {
  padding: 16px 0px 0px 30px;
  font-size: 22px;
  font-weight: 400;
}

.table-cell {
  padding: 0px 0px 0px 52px;
  font-size: 22px;
  font-weight: 400;
}

.slide-description {
  padding: 0px 52px 0px 30px;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
}

.slide-list {
  font-size: 20px;
  margin: 0px 0px 24px 12px;
}

.slide-container {
  text-align: center;
  padding: 0px 12px 0px 12px;
}

.slide-thumbnail {
  display: inline-block;
  width: 66%;
  outline: 1px solid black;
}

.slide-text {
  font-size: 18px;
  margin: 8px 0px 12px 0px;
}

.programs-label {
  padding: 24px 0px 0px 136px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 600;
}

.program-block {
  margin: 0px 0px 0px 116px;
  height: 72px;
  width: 80%;
  padding: 6px 0px 6px 0px;
  color: #FFFFFF;
  background-color: rgba(244, 107, 35, 1.0);
}

.program-title {
  padding: 0px 0px 0px 0px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
}

.program-location {
  font-weight: 600;
  padding: 6px 0px 6px 0px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8;
}

.program-description {
  margin: 12px 0px 12px 116px;
  color: #FFFFFF;
  font-size: 22px;
}

.program-dates {
  margin: 12px 0px 12px 12px;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
}

.program-dates ul {
  margin: 0;
}

.complement {
  color: #f46b23;
  /*color: #ffffff;*/
  font-weight: 600;
}

#program-carousel .left.carousel-control, #program-carousel .right.carousel-control {
  margin-top: 80px
}

.program-button {
  margin-left: 72px;
  width: 440px;
  text-align: center;
  padding: 14px 16px 14px 16px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(244, 107, 35, 1.0);
}

.apply {
  margin: 0px 0px 0px 12px;
  height: 72px;
  width: 80%;
  padding: 6px 16px 6px 16px;
  font-size: 32px;
  font-weight: 600;
  color: rgba(242, 92, 13, 1.0);
  background-color: #FFFFFF;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8;
}

.apply-closed {
  color: #FFFFFF;
  background-color: #666666;
}

.register-here {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px 40px 0px 40px;
  font-size: 40px;
  font-weight: 600;
  height: 160px;
  width: 330px;
  color: rgba(242, 92, 13, 1.0);
  background-color: #FFFFFF;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}

#cost-table {
  margin-left: 30px;
  width: 90%;
  font-size: 16px;
}

#cost-table th, #cost-table td {
  padding: 8px;
  border: 1px solid black;
}

@media only screen and (max-width: 992px) {
  .program-title { font-size: 20px; }
  .program-location { font-size: 22px; }
  .program-description { font-size: 18px; }
  .program-dates { font-size: 18px; }
  .program-block { height: 60px;}
  .slide-list { padding: 0px 0px 0px 16px; font-size: 16px; }
  .apply { margin: 0px 0px 0px 0px; font-size: 26px; height: 60px;}
  .programs-label { padding: 12px 0px 0px 136px; font-size: 28px; font-weight: 600; }
  .program-button { margin: 0px 0px 40px 60px; padding: 10px 10px 10px 10px; font-size: 16px; width: 300px; }
  .register-here { margin-top: 48px; margin-bottom: 20px; padding: 30px;
                    font-size: 28px; font-weight: 600; height: auto; width: 250px;}
  #cost-table { margin-left: 0px; }
}

@media only screen and (max-width: 768px) {
  .program-block { margin: 0px 0px 0px 0px; height: 60px; width: 100%; }
  .apply { margin: 0px 0px 0px 0px; font-size: 26px; height: 60px; width: 100%; }
  .program-description { margin: 12px 0px 12px 0px; font-size: 18px; }
  .program-dates { margin: 12px 0px 12px 0px; font-size: 18px; }
  .slide-list { padding: 0px 0px 0px 16px; font-size: 16px; }
  .programs-label { text-align: center; padding: 24px 0px 0px 0px; font-size: 28px; font-weight: 600; }
  .program-button { margin: 0; padding: 10px 10px 10px 10px; font-size: 20px; width: auto; }
  .register-here { margin-top: 20px; margin-bottom: 20px; padding: 10px 10px 10px 10px;
                    font-size: 20px; font-weight: 600; height: auto; width: auto;}

}

@media only screen and (max-width: 576px) {
  .program-location { font-size: 18px; }
  .program-description { font-size: 16px; }
  .program-dates { font-size: 16px; }
  .slide-list { padding: 0px 0px 0px 16px; font-size: 16px; }
  .programs-label { text-align: center; padding: 24px 0px 0px 0px; font-size: 24px; font-weight: 600; }
  .program-button { margin: 0; padding: 10px 10px 10px 10px; font-size: 16px; width: auto; }
  .register-here { margin-top: 20px; margin-bottom: 20px; padding: 10px 10px 10px 10px;
                    font-size: 20px; font-weight: 600; height: auto; width: auto;}
}

/* End Training Page */
/*************************************/


/*************************************/
/* Computing Page */

.green {
  color: #3B9743;
}

.feature-title {
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
}

.feature-description {
  margin: 0;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.1;
}

.ci-logo-green {
  float: left;
  height: 110px;
  width: 110px;
}

.ci-logo-green-no-float {
  margin-top: -20px;
  height: 110px;
  width: 110px;
}

.safe-block {
  margin-left: 0px;
  padding-bottom: 36px;
}

.safe-text {
  margin-left: 140px;
  padding: 20px 0;
}

.safe-title {
  margin: 0;
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
}

.safe-description {
  margin: 0;
  font-size: 22px;
  line-height: 1;
}

#safe-results {
  text-align: center;
}

.feature-block {
  padding: 12px 12px 12px 12px;
  background-color: #43AA4C;
  height: 160px;
  width: 100%;
  vertical-align: middle;
}

#feature-carousel .carousel-inner {
}

#feature-carousel .carousel-inner .item {
  margin-top: 140px;
  padding: 0px 120px 0px 120px;
}

#feature-carousel .left.carousel-control, #feature-carousel .right.carousel-control {
  margin-top: 130px
}

@media only screen and (max-width: 992px) {
  .page-title { padding: 100px 0px 0px 0px; font-size: 32px; font-weight: 300; }
  .page-description { padding: 48px 0px 48px 0px; font-size: 22px; color: #FFFFFF; line-height: 1.15; }
  .section-title { padding: 24px 0px 0px 0px; font-size: 28px; }
  .section-description { padding: 0px 0px 0px 0px; font-size: 18px; }
  .curriculum-title { padding: 12px 0px 0px 0px; font-size: 28px; }
  .curriculum-description { padding: 0px 0px 0px 0px; font-size: 16px; }
  .curriculum-table { padding-bottom: 12px; }
  .table-header { padding: 12px 0px 0px 0px; font-size: 18px; }
  .table-cell { padding: 0px 0px 0px 16px; font-size: 16px; }

  .features-section { margin: 20px 0; }
  .feature-block { margin-left: 10%; padding: 12px 12px 12px 12px; height: 170px; width: 80%; }
  #feature-carousel .carousel-inner .item { margin: 20px 0px 20px 0px; padding: 0px 10px 0px 10px; }
  #feature-carousel .left.carousel-control { margin: 70px 0px 0px -15px; }
  #feature-carousel .right.carousel-control { margin: 70px -15px 0px 0px; }
  .feature-title { font-size: 18px; }
  .feature-description { font-size: 16px; }
  .ci-logo-green { height: 80px; width: 80px; }
  .ci-logo-green-no-float { height: 60px; width: 60px; margin-top: 0;}
  .safe-text { margin-left: 100px; padding: 10px 0; }
  .safe-title { font-size: 20px; font-weight: 500; }
  .safe-description { font-size: 16px; }
}

@media only screen and (max-width: 768px) {
  .page-title { padding: 100px 0px 0px 0px; font-size: 32px; font-weight: 300; }
  .page-description { padding: 48px 0px 48px 0px; font-size: 22px; color: #FFFFFF; line-height: 1.15; }
  .section-title { padding: 24px 0px 0px 0px; font-size: 28px; }
  .section-description { padding: 0px 0px 0px 0px; font-size: 18px; }
  .curriculum-title { padding: 12px 0px 0px 0px; font-size: 28px; }
  .curriculum-description { padding: 0px 0px 0px 0px; font-size: 16px; }
  .curriculum-table { padding-bottom: 12px; }
  .table-header { padding: 12px 0px 0px 0px; font-size: 18px; }
  .table-cell { padding: 0px 0px 0px 16px; font-size: 16px; }

  .features-section { margin: 20px 0; }
  .feature-block { padding: 12px 12px 12px 12px; height: 220px; width: 80%; }
  #feature-carousel .carousel-inner .item { margin: 20px 0px 20px 0px; padding: 0px 10px 0px 10px; }
  #feature-carousel .left.carousel-control { margin: 70px 0px 0px -15px; }
  #feature-carousel .right.carousel-control { margin: 70px -15px 0px 0px; }
  .feature-title { font-size: 18px; }
  .feature-description { font-size: 16px; }
  .ci-logo-green { height: 80px; width: 80px; }
  .ci-logo-green-no-float { height: 60px; width: 60px; margin-top: 0;}
  .safe-text { margin-left: 100px; padding: 10px 0; }
  .safe-title { font-size: 20px; font-weight: 500; }
  .safe-description { font-size: 16px; }
}

@media only screen and (max-width: 576px) {
  .page-title { padding: 100px 0px 0px 0px; font-size: 32px; font-weight: 300; }
  .page-description { padding: 48px 0px 48px 0px; font-size: 22px; color: #FFFFFF; line-height: 1.15; }
  .section-title { padding: 24px 0px 0px 0px; font-size: 28px; }
  .section-description { padding: 0px 0px 0px 0px; font-size: 18px; }
  .curriculum-title { padding: 12px 0px 0px 0px; font-size: 28px; }
  .curriculum-description { padding: 0px 0px 0px 0px; font-size: 16px; }
  .curriculum-table { padding-bottom: 12px; }
  .table-header { padding: 12px 0px 0px 0px; font-size: 18px; }
  .table-cell { padding: 0px 0px 0px 16px; font-size: 16px; }

  .features-section { margin: 20px 0; }
  .feature-block { margin-left: 5%; padding: 12px 12px 12px 12px; height: 360px; width: 90%; }
  #feature-carousel .carousel-inner .item { margin: 20px 0px 20px 0px; padding: 0px 10px 0px 10px; }
  #feature-carousel .left.carousel-control { margin: 130px 0px 0px -15px; }
  #feature-carousel .right.carousel-control { margin: 130px -15px 0px 0px; }
  .feature-title { font-size: 18px; }
  .feature-description { font-size: 16px; }
  .ci-logo-green { height: 80px; width: 80px; }
  .ci-logo-green-no-float { height: 60px; width: 60px; margin-top: 0;}
  .safe-text { margin-left: 100px; padding: 10px 0; }
  .safe-title { font-size: 20px; font-weight: 500; }
  .safe-description { font-size: 16px; }
}
/* End Computing Page */
/*************************************/

/*************************************/
/* Connecting Page */
.red {
  color: #B42A2A;
}

.ci-logo-red {
  margin: 30px 0px 0px 30px;
  height: 110px;
  width: 110px;
}

.connecting-description {
  padding: 40px 52px 0px 0px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
}

.email_link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .ci-logo-red { margin: 30px 0px 0px 0px; height: 110px; width: 110px; }
  .connecting-description { padding: 36px 0px 0px 0px; font-size: 22px; line-height: 1.2; font-weight: 400; }
}
@media only screen and (max-width: 768px) {
  .ci-logo-red { display: none;}
}
@media only screen and (max-width: 576px) {}

/* End Connecting Page */
/*************************************/

/*************************************/
/* Resources Page */

.blue {
  color: #313BCF;
}

.purple {
  color: #855593;
}

.dark-blue {
  color: #384d61
}

.workshop-title {
  font-size: 40px;
}

.workshop-register-button {
  font-size: 24px;
  color: #FFFFFF;
  background-color: #37495C;
  padding: 20px 20px 20px 20px;
  margin: 12px 0px 12px 30px;
  font-weight: 600;
  border: 1px solid #37495C;
  display: inline-block;
}

.page-title-standalone {
  padding: 140px 0px 60px 80px;
  font-size: 72px;
  letter-spacing: 4px;
  font-weight: 200;
  color: #FFFFFF;
}

.whitepaper-list {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 36px;
}

.whitepaper-list-item {
  margin-bottom: 8px;
}

.ci-bullet {
  max-height: 36px;
}

.whitepaper-link:link, .whitepaper-link:visited, .whitepaper-link:active {
  text-decoration: none;
  color: inherit;
}

.whitepaper-link:hover {
  text-decoration: none;
  color: #855593;
}

.whitepaper-list-label {
  padding: 0px 8px 0px 8px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 500;
}

.section-text {
  padding: 0px 52px 0px 30px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}

.book-thumbnail-small {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.reviews-link {
  margin-top: 24px;
  margin-bottom: 12px;
  display: inline-block;
  color: #FFFFFF;
  background-color: #855593;
  font-size: 30px;
  font-weight: 300;
  padding: 0px 40px 0px 40px;
  text-align: center;
}



@media only screen and (max-width: 992px) {
  .page-title-standalone { padding: 100px 0px 30px 0px; font-size: 32px; font-weight: 300; }
  .whitepaper-list { padding: 0px; }
  .section-text { padding: 0px; }
}

@media only screen and (max-width: 768px) {
  .page-title-standalone { padding: 100px 0px 30px 0px; font-size: 32px; font-weight: 300; }
  .whitepaper-list { padding: 0px; }
  .section-text { padding: 0px; }

}

@media only screen and (max-width: 576px) {
  .page-title-standalone { padding: 100px 0px 30px 0px; font-size: 32px; font-weight: 300; }
  .whitepaper-list { padding: 0px; }
  .section-text { padding: 0px; }
}


/* old */
.whitepaper-container {
  text-align: center;
  padding: 0px 12px 0px 12px;
  margin-bottom: 32px;
}

.whitepaper-thumbnail {
  display: inline-block;
  width: 66%;
  outline: 1px solid black;
}

.whitepaper-text {
  font-size: 18px;
  margin: 8px 0px 12px 0px;
}
/* old */

/* End Resources Page */
/*************************************/

/*************************************/
/* About Page */
.team {
  margin: 0px 52px 0px 30px;
}

.positions {
  padding-left: 20px;
}

.team-member-image {
  width: 180px;
}

.fullname {
  margin-bottom: 2px;
}

.supporter-image {
  display: block;
  padding: 10px;
  max-height: 120px;
  max-width: 300px;
  margin: 20px auto 20px auto;
  align-content: center;
}

/* End About Page */
/*************************************/


/*************************************/
/* Competition Page */
.comp-heading {
  margin: 18px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px;
}

.comp-subheading {
  margin: 18px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  font-size: 18px;
  font-weight: 600;
}

.comp-description {
  margin: 0px 0px 16px 0px;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
}

.comp-list {
  margin: 0px 0px 16px 40px;
  padding: 0px 120px 0px 30px;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
}

.data-files-table {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 22px;
  width: 80%;
  border: 1px solid #CCCCCC;
}

.data-files-table th {
  font-weight: 600;
  border: 1px solid #CCCCCC;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
}

.data-files-table td {
  padding: 2px 4px 2px 4px;
  border: 1px solid #CCCCCC;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
}

:target:before {
content:"";
display:block;
height:70px; /* fixed header height*/
margin:-70px 0 0; /* negative fixed header height */
}

.toc-panel {
  display: none;
}

.toc-header {
  margin: 40px 0px 0px 0px;
  padding: 12px;
  background-color: #C5D0DB;
  color: #4F5F6F;
  border: 1px solid #999;
}

.toc-list {
  margin: 0;
  padding: 12px;
  border: 1px solid #999;
  border-top: none;
  list-style-type: none;
}

.toc-item {
  padding: 2px;
  font-size: 16px;
}

.toc-item a {
  text-decoration: none;
  color: #4F5F6F;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .toc-panel {
    display: block;
  }
}

.workshopagenda {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 22px;
  width: 80%;
  border: 1px solid #CCCCCC;
}

.workshopagenda td {
  padding: 2px 4px 2px 4px;
  min-width: 140px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

.workshopagenda td:nth-child(1) {
  text-align: left;
}

/* End Competition Page */
/*************************************/
.agenda {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 22px;
  width: 80%;
  border: 1px solid #CCCCCC;
}

.agenda td {
  padding: 2px 4px 2px 4px;
  min-width: 140px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

.agenda td:nth-child(1) {
  text-align: right;
}

.attendees {
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 22px;
  width: 80%;
  border: 1px solid #CCCCCC;
}

.attendees td {
  padding: 2px 4px 2px 4px;
  min-width: 200px;
  vertical-align: top;
  border: 1px solid #CCCCCC;
}

.attendees td:nth-child(1) {
  text-align: left;
  font-weight: 500;
}

.additional-readings-list {
  margin-left: 10px;
  font-size: 18px;
}

.additional-readings-list li {
  padding-top: 4px;
}

/*************************************/
/* Events Page Start */
.category-title {
  padding: 24px 0px 12px 30px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
  text-transform: capitalize;
}

.event {
  margin: 0px 0px 0px 18px;
}

.event:hover {
}

.event-title {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.event-date {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.event-location {
  font-size: 14px;
  font-weight: 500;
  display: inline;
}

.event-session-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
  font-weight: 500;
}

.event-description {
  font-size: 16px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 0px;
}

.event-type {
  font-size: 10px;
  background-color: #444444;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 25px;
  padding: 0px 6px 0px 6px;
  margin-top: 4px;
}

.event-resource {
  font-size: 16px;
  font-weight: 500;
}

.event-thumbnail {
  border: 1px solid #BBBBBB;
  background-color: #FFFFFF;
}

.unstyled {
  border: 0; background-color: transparent; display: inline;
}

@media only screen and (max-width: 992px) {
  .category-title { padding: 30px 0px 0px 0px; font-size: 28px; }
  .event { margin: 0px 0px 0px 0px; }
}

@media only screen and (max-width: 768px) {
  .category-title { padding: 30px 0px 0px 0px; font-size: 28px; }

}

@media only screen and (max-width: 576px) {
  .category-title { padding: 30px 0px 0px 0px; font-size: 28px; }
}


/* Events Page End */
/*************************************/
