---
layout: container
title: Training Programs
permalink: training/
---
<p>Tote bag mustache actually iPhone. Ugh dreamcatcher direct trade bitters kickstarter hell of. Humblebrag lyft blog, hammock street art ennui small batch sustainable umami drinking vinegar vegan. Stumptown schlitz venmo DIY, meditation aesthetic messenger bag put a bird on it drinking vinegar microdosing readymade fanny pack neutra food truck fashion axe.</p>
<h3>Upcoming Training Programs</h3>
{% include program-list.html status='upcoming' %}

<h3>Past Training Programs</h3>
{% include program-list.html status='past' %}
