---
layout: default
title: About
permalink: about.html
---
<div class="container-fluid about-bg-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">ABOUT</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <p class="curriculum-title">VISION</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">Our goal is to change the empirical foundation of social science, statistical and public agencies in the United States and transform understanding of how our society works. We are a fast growing university-based startup that has already created dozens of pilot projects, worked with over 100 agencies—federal, state and local—and trained over 250 agency staff.<br><br>
Our team is led by world renowned experts—Rayid Ghani, Robert Goerge, Frauke Kreuter, and Julia Lane—and we are building new technologies housed in a secure computational research platform, the NYU Administrative Research Data Facility, to promote access and discovery of sensitive and confidential microdata. Those technologies are combined with training programs and consulting services to build agency capacity to serve society.</p>
      <!--
      <p class="curriculum-description">
        <strong>Technical</strong>: it provides a secure environment – the Administrative Data Research Facility (ADRF) - within which data providers can place and share their data across agency and jurisdictional lines.
      </p>
      <p class="curriculum-description">
        <strong>Operational</strong>: it develops data facility administrative tools that permit disparate data to be found, documented and used – through discovery, stewardship and collaboration modules.
      </p>
      <p class="curriculum-description">
        <strong>Legal and practical</strong>: it engages the workforce – through Applied Data Analytics training programs - to ensure that there is a value associated with the data linkage that is both consistent with the agency mission and useful enough to engage decision-makers.
      </p>-->
    </div>

    <div class="col-sm-12">
      <p class="curriculum-title">TEAM</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description"></p>
    </div>
  </div>
</div>

{% include team.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br><br>
      <p class="curriculum-title">COLLABORATORS</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description"></p>
    </div>
  </div>
</div>

{% include collaborators.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br><br>
      <p class="curriculum-title">SPONSORS</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">Support provided by:</p>
    </div>
  </div>
</div>

{% include supporters.html %}
