---
layout: default
title: About
permalink: about.html
---
<div class="container-fluid about-bg-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">ABOUT</div>
    </div>
    <div class="col-sm-12">
      <div class="page-description"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="curriculum-title">VISION</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">The data revolution is transforming how executives manage operations and businesses deliver goods and services. Yet when it comes to communities and the government agencies that serve them, the revolution has barely begun.  The startup costs are high for creating an integrated data infrastructure about people served by different agencies and programs. Data are typically fragmented, and attempts at integration are often one-off and piecemeal.  There are strong disincentives to share data across programs or with external parties. The Coleridge Initiative has developed technical and human approaches to enable community access to and use of data on human subjects. It's built on many years of successful experience to design an infrastructure that was commissioned by the US Census Bureau to inform the decision making of the Commission on Evidence Based Policy It tackles three core issues.</p>
      <p class="curriculum-description">
        <strong>Technical</strong>: it provides a secure environment – the Administrative Data Research Facility (ADRF) - within which data providers can place and share their data across agency and jurisdictional lines.
      </p>
      <p class="curriculum-description">
        <strong>Operational</strong>: it develops data facility administrative tools that permit disparate data to be found, documented and used – through discovery, stewardship and collaboration modules.
      </p>
      <p class="curriculum-description">
        <strong>Legal and practical</strong>: it engages the workforce – through Applied Data Analytics training programs - to ensure that there is a value associated with the data linkage that is both consistent with the agency mission and useful enough to engage decision-makers.
      </p>
    </div>

    <div class="col-sm-12">
      <p class="curriculum-title">TEAM</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description"></p>
    </div>
  </div>
</div>

{% include team.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="curriculum-title">SUPPORT</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">The work of the Coleridge Initiative is supported by our generous sponsors.</p>
    </div>
  </div>
</div>

{% include supporters.html %}
