---
layout: default
title: Events
permalink: events.html
---
<div class="container-fluid about-bg-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">EVENTS</div>
    </div>
  </div>
</div>

<div class="container">
  {% for category in site.data.events.categories %}
  <div class="row">
    <div class="col-sm-12">
      <p class="category-title">{{category}}</p>
    </div>
  </div>

    {% for event in site.data.events.event-list %}
      {% if event.category == category %}
        <div class="row">
      <div class="col-sm-12">
        <div class="event">

          <div class="col-sm-3">
            {% if event.thumbnail contains "http" %}
            <img src="{{event.thumbnail}}" class="img-responsive event-thumbnail">
            {% else  %}
            <img src="{{site.baseurl}}/assets/thumbnails/{{event.thumbnail}}" class="img-responsive event-thumbnail">
            {% endif %}
          </div>
          <div class="col-sm-9">
          <h2 class="event-title"><a href="{{event.link}}" target="_blank">{{event.title}}</a></h2>
          {% if event.date %}<div class="event-date">{{event.date}}</div>{% endif %}
          {% if event.location %}<div class="event-location"> - {{event.location}}</div>{% endif %}<br />
          {% comment %}{% if event.type %}<div class="event-type">{{event.type}}</div>{% endif %}{% endcomment %}
          {% if event.session-title %}<span class="event-session-title">{{event.session-title}}</span>{% endif %}{% if event.resource-title %}<p class="event-resource"><a href="{{event.resource-link}}" target="_blank">{{event.resource-title}}</a></p>{% endif %}
          {% if event.description %}<p class="event-description">{{event.description}}</p>{% endif %}
          </div>


        </div>
      </div>
    </div>
    <br/>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <br />
</div>
