---
layout: default
title: Training
permalink: training.html
---
<div class="container-fluid training-bg-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">TRAINING</div>
    </div>
    <div class="col-sm-12">
      <div class="page-description">Providing professionals the opportunity to develop key computer science and data science skill sets to improve public policy through training programs and research.</div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="section-title">TRAINING PROGRAM</p>
    </div>
    <div class="col-sm-12">
      <p class="section-description">The training program is designed to address public sector challenges, but is applicable to a broad range of fields such as sociology, public health, computer science, survey statistics, and federal departments.
        Completion of this program will equip participants with the tools necessary to effectively manage and undergo technology and analytics projects, as well as open the door to the fields of statistical analysis, software development, and data science.
        This program is designed for professionals with a masters’ degree or above with some emphasis in a quantitative field (e.g. statistics, economics or computer science) or at least two years working in a hands-on, data-oriented field.</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-title">Core Curriculum</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">The general format is 10 training days grouped into 2 modules of one week each. There is a primary focus on a different topic each day, as outlined below. In addition, participants are grouped in teams of up to
        five members to work through an analytic project that answers a specific research question formulated by the team.</p>
    </div>
  </div>
  <div class="row">
    {% assign count = 0 %}
    {% for module in site.data.curriculum %}
      {% capture mod %}{{ count | modulo:1 }}{% endcapture %}
      {% if mod == '0' %}
      <div class="col-sm-6">
        <table class="curriculum-table">
      {% endif %}
          <tr>
            <th class="table-header">{{module.module}}</th>
          </tr>
          <tr>
            <td>
              <ul class="table-cell">
                {% for day in module.days %}
                <li>{{day}}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% assign count = count | plus:1 %}
        {% capture mod %}{{ count | modulo:1 }}{% endcapture %}
        {% if mod == '0' %}
        </table>
      </div>
        {% endif %}
      {% endfor %}
  </div>
</div>

<div class="container-fluid training-bg-mid">
  <div class="row">
    <div class="col-sm-12">
      <p class="programs-label">UPCOMING TRAINING PROGRAMS</p>
    </div>
    <div class="col-sm-12">
          <div id="program-carousel" class="carousel slide" data-ride="carousel" data-interval="0">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div class="item active">
                <div class="col-sm-6">
                  <div class="program-block">
                    <!-- <div class="program-title">Economic Development</div> -->
                    <div class="program-location">Kansas City, MO - Spring 2018</div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <a href="https://goo.gl/forms/w8AgsqBrIPS0L5Mu1" target="_blank">
                      <div class="apply">APPLY</div>
                    </a>
                </div>
                <div class="col-sm-6">
                  <div class="program-description"><p>This program is both sponsored and hosted by The Kauffman Foundation. Financial assistance is available in the form of a limited number of full and partial scholarships. All government applicants will be considered for scholarships and informed of any award upon preliminary admission to the program on February 16.</p><p>As part of this program, an optional short training will be offered for participants' supervisors and managers which will provide an overview of how these new tools and approaches should and should not be used in applied settings. Attendees will also have an opportunity to connect with their counterparts from other agencies. This short program will be offered the mornings of Friday April 27 and June 8, and attendees can join remotely via WebEx.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="program-dates">
                    <div>Application Closes: <span class="complement">February 16</span></div>
                    <div>Admission Decision: <span class="complement">March 2</span></div>
                    <div>SQL &amp; Python tutorials: Complete by <span class="complement">April 3</span></div>
                    <div>In-person training in Kansas City</div>
                    <ul>
                      <li>Module 1: <span class="complement">April 23 - 27</span></li>
                      <li>Module 2: <span class="complement">June 4 - 8</span></li>
                    </ul>
                    <div>Remote Presentations: <span class="complement">June 28 &amp; 29</span></div>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="col-sm-6">
                  <div class="program-block">
                    <!-- <div class="program-title">Economic Development</div> -->
                    <div class="program-location">Chicago, IL - Summer 2018</div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <a href="https://goo.gl/forms/2szNxZQ8ITh2nT712" target="_blank">
                      <div class="apply">APPLY</div>
                    </a>
                </div>
                <div class="col-sm-6">
                  <div class="program-description"><p>The Coleridge Initiative’s program in Applied Data Analytics
                    provides participants the opportunity to choose their own projects or build on projects
                    completed in select earlier programs. The focus of this program will be working with confidential
                    data that examine the labor market and other outcomes of high needs populations, such as
                    ex-offenders or welfare recipients.</p><p>As part of this program, an optional short training will be offered for participants' supervisors and managers which will provide an overview of how these new tools and approaches should and should not be used in applied settings. Attendees will also have an opportunity to connect with their counterparts from other agencies. This short program will be offered the mornings of Friday July 20 and August 10, and attendees can join remotely via WebEx.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="program-dates">
                    <div>Application Closes: <span class="complement">May 11 </span></div>
                    <div>Admission Decision: <span class="complement">May 18</span></div>
                    <div>SQL &amp; Python tutorials: Complete by <span class="complement">July 1</span></div>
                    <div>In-person training in Chicago</div>
                    <ul>
                      <li>Module 1: <span class="complement">July 18 - 24</span></li>
                      <li>Module 2: <span class="complement">August 8 - 14</span></li>
                    </ul>
                    <div>Remote Presentations: <span class="complement">TBD</span></div>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="col-sm-6">
                  <div class="program-block">
                    <!-- <div class="program-title">Economic Development</div> -->
                    <div class="program-location">Washington, DC - Fall 2018</div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <a href="https://goo.gl/forms/9ngc1OVnbGNOvaU53" target="_blank">
                      <div class="apply">APPLY</div>
                    </a>
                </div>
                <div class="col-sm-6">
                  <div class="program-description"><p>The Coleridge Initiative’s program in Applied Data Analytics
                    provides participants the opportunity to choose their own projects or build on projects
                    completed in select earlier programs. The focus of this program will be working with confidential
                    data that examine the labor market and other outcomes of high needs populations, such as
                    ex-offenders or welfare recipients.</p><p>As part of this program, an optional short training will be offered for participants' supervisors and managers which will provide an overview of how these new tools and approaches should and should not be used in applied settings. Attendees will also have an opportunity to connect with their counterparts from other agencies. This short program will be offered the mornings of Friday September 14 and November 2, and attendees can join remotely via WebEx.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="program-dates">
                    <div>Application Closes: <span class="complement">July 20</span></div>
                    <div>Admission Decision: <span class="complement">August 1</span></div>
                    <div>SQL &amp; Python tutorials: Complete by <span class="complement">October 1</span></div>
                    <div>In-person training in Washington, DC</div>
                    <ul>
                      <li>Module 1: <span class="complement">September 12 - 18</span></li>
                      <li>Module 2: <span class="complement">October 31 - November 6</span></li>
                    </ul>
                    <div>Remote Presentations: <span class="complement">TBD</span></div>
                  </div>
                </div>
              </div>


              <div class="item">
                <div class="col-sm-6">
                  <div class="program-block">
                    <!-- <div class="program-title">Economic Development</div> -->
                    <div class="program-location">New York, NY - Winter 2019</div>
                  </div>
                </div>
                <div class="col-sm-6">
                    <a href="https://goo.gl/forms/9jPLx3AXqsJ1rqFE3" target="_blank">
                      <div class="apply">APPLY</div>
                    </a>
                </div>
                <div class="col-sm-6">
                  <div class="program-description"><p>The Coleridge Initiative’s program in Applied Data Analytics
                    provides participants the opportunity to choose their own projects or build on projects
                    completed in select earlier programs. The focus of this program will be working with confidential
                    data that examine the labor market and other outcomes of high needs populations, such as
                    ex-offenders or welfare recipients.</p><p>As part of this program, an optional short training will be offered for participants' supervisors and managers which will provide an overview of how these new tools and approaches should and should not be used in applied settings. Attendees will also have an opportunity to connect with their counterparts from other agencies. This short program will be offered the mornings of Friday January 25 and February 22, and attendees can join remotely via WebEx.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="program-dates">
                    <div>Application Closes: <span class="complement">November 30</span></div>
                    <div>Admission Decision: <span class="complement">December 14</span></div>
                    <div>SQL &amp; Python tutorials: Complete by <span class="complement">January 1</span></div>
                    <div>In-person training in New York City</div>
                    <ul>
                      <li>Module 1: <span class="complement">January 23 - 29</span></li>
                      <li>Module 2: <span class="complement">February 20 - 26</span></li>
                    </ul>
                    <div>Remote Presentations: <span class="complement">TBD</span></div>
                  </div>
                </div>
              </div>

            </div>

            <!-- Left and right controls -->

            <a class="left carousel-control" href="#program-carousel" data-slide="prev">
              <img class="left-arrow" src="{{site.baseurl}}/assets/images/triangle-left-arrow-white.png">
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#program-carousel" data-slide="next">
              <img class="right-arrow" src="{{site.baseurl}}/assets/images/triangle-right-arrow-white.png">
              <span class="sr-only">Next</span>
            </a>

          </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="curriculum-title">Application Process</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">The application will include four components:</p>
      <table class="curriculum-table">
          <tr>
            <td>
              <ul class="table-cell">
                <li>Resume or Curriculum Vitae</li>
                <li>Letter of Support from your supervisor</li>
                <li>Description of a previous data project in which you participated</li>
                <li>Proposal for how you will use the skills you learn in this class</li>
              </ul>
            </td>
          </tr>
      </table>
      <p class="curriculum-description">By submitting an application you are guaranteeing your availability to join all in-person training days
        listed for the program to which you are applying. Once the above application materials are submitted,
        an email will be sent confirming your successful registration. Included in your admission decision will
        be the process for paying program tuition - please note that any scholarships that may be available are
        decided on a per program and per application basis.</p></br>
      <p class="curriculum-description">Once your application is submitted and approved, the final step to be
        accepted into the class is to complete the <strong>SQL &amp; Python tutorials</strong> by the date specified for your program.</p></br>
      <p class="curriculum-description"><strong>Group applications:</strong> If you are applying as part of a group please include in your proposal how each of
        the group members plan to use the skills taught in this program at your organization.</p></br>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-title">Cost</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">Class price: $15,000</p>
      <p class="curriculum-description">Government and non-profit participants: $10,000 (payment can be made for each module by pcard)</p>
      <p class="curriculum-description">Group discount: You may apply as a group with others from your organization. There will be a 20% discount for the 2nd-4th individuals and a 40% discount for 5th or more individuals.</p>
    </div>

    <div class="col-sm-12">
      <table id="cost-table">
        <tr>
          <th></th>
          <th>Individual or 1st group member</th>
          <th>Group members 2-4 each receive a 20% discount</th>
          <th>Each additional group member receives a 40% discount</th>
        </tr>
        <tr>
          <td>Government / Non-profit</td>
          <td>$10,000</td>
          <td>$8,000 / person</td>
          <td>$6,000 / person</td>
        </tr>
        <tr>
          <td>Other</td>
          <td>$15,000</td>
          <td>$12,000 / person</td>
          <td>$9,000 / person</td>
        </tr>
      </table>
    </div>

    <div class="col-sm-12">
      <p class="curriculum-title">Contact</p>
    </div>
    <div class="col-sm-12">
      <p class="curriculum-description">Email: <a href="mailto:{{site.contact}}">dataanalytics@umd.edu</a></p>
      <p class="curriculum-description">Phone: 301-314-7911</p>
      <p class="curriculum-description">The Executive Program in Applied Data Analytics is an activity of the University System of Maryland Foundation, Inc.  If paying by check, please make your check payable to the University System of Maryland Foundation, Inc. and reference Account # 21089 in the memo line.</p>
    </div>
    <div class="col-sm-12">
      <div class="footer-spacer"></div>
    </div>
  </div>
</div>
