<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="YAXleegVosLO8Bx42z4Xpd6BCg97z2gIWT6N9v2Mr9E" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Static links for Bootstrap in case CDN is offline 
  <link rel="stylesheet" href="{{site.baseurl}}/assets/js/static/bootstrap.min.css">
  <script src="{{site.baseurl}}/assets/js/static/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/static/bootstrap.min.js"></script>
  -->
   <!-- Latest compiled and minified CSS for Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Custom JS -->
  <script src="{{site.baseurl}}/assets/js/script.js"></script>

  <title>The Coleridge Initiative</title>
  <link href="{{site.baseurl}}/assets/css/mobilefirst.css" rel="stylesheet">
</head>
<body>
  <header>
    {% include nav.html %}
  </header>

  {{content}}

  {% include footer.html %}
  
</body>
</html>