---
layout: container
---
{% for section in page.sections %}
  <h3>{{section.title}}</h3>
  {% for subsection in section.subsections %}
    {% if subsection.subtitle != "" %}
      <div class="indent">
        <h4>{{subsection.subtitle}}</h4>
    {% else %}
      <div>
    {% endif %}
      {% for paragraph in subsection.paragraphs %}
        <p>{{paragraph}}</p>
        {% if subsection.image != "" %}
          <img class="team-member-image" src="{{site.baseurl}}/assets/images/{{subsection.image}}">
        {% endif %}
      {% endfor %}
      </div>
  {% endfor %}
{% endfor %}
